:root {
    --bs-primary: #14454B !important;
    --bs-secondary: #3F98A5 !important;
    --light: #fffff0 !important;;
    --dark: #323232 !important;;
}

body {
    margin: 0;
    /*font-family: "Caveat";*/
    /*font-family: "Comic Sans MS";*/
    /*font-family: 'Acme', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}