.header {
    display: flex;
    position: sticky;
}

.sidenav {
    height: 100%;
    width: 0;
    max-width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--dark);
    /*overflow-x: hidden;*/
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 25px;
    color: var(--light);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover:not(.closebtn) {
    transform: scale(1.2);
    transition: 0.2s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    padding: 20px 20px;
}


.openNavButton {
    color: var(--light);
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
    text-shadow: 10px;
}

.navbar-item:hover {
    background-color: var(--primary);
}

.navbar-item.active {
    background-color: var(--secondary);
    color: var(--light);
}

.navbar-list {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    visibility: collapse;
}


@media screen and (max-device-width: 500px) {
    .navbar-list {
        padding-top: 30px;
        justify-items: center;
        justify-content: center;
        text-align: center;
    }

    .sidenav {
        max-width: 100%;
    }

    .navbar-item:hover {
        /*padding: 8px 6em 8px;*/
        padding: 0px 3em;
    }

    .navbar-item {
        /*width: max-content;*/
        width: 100%;
    }

    .sidenav .closebtn {
        padding-bottom: 30px;
        font-size: 60px;
    }

    .sidenav a {
        font-size: 60px;
    }

    .openNavButton {
        margin: 0;
    }

    .navbar-wrapper {
        justify-content: center;
    }
}